flows/Register_Loyalty_Point_Spent-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Activated</name>
        <label>Is Activated</label>
        <locationX>168</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loyalty_Point_Payment_Product</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loyalty_Payment</name>
        <label>Is Loyalty Payment</label>
        <locationX>676</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>IsLoyaltyPaymentTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Order_Item.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoyaltyPaymentProduct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loyalty_Spent_for_this_Order</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_not_already_created</name>
        <label>Is not already created</label>
        <locationX>667</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Created</defaultConnectorLabel>
        <rules>
            <name>IsNotCreatedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Spent_for_this_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Register_Loyalty_Point_Spent</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Register Loyalty Point Spent {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Register Loyalty Point Spent</label>
    <loops>
        <name>Loop_Over_Order_Item</name>
        <label>Loop Over Order Item</label>
        <locationX>489</locationX>
        <locationY>308</locationY>
        <collectionReference>Get_Order_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Loyalty_Payment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Register_Loyalty_Point_Spent</name>
        <label>Register Loyalty Point Spent</label>
        <locationX>574</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>Loop_Over_Order_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point__c</field>
            <value>
                <elementReference>Loop_Over_Order_Item.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Spent</stringValue>
            </value>
        </inputAssignments>
        <object>Loyalty_Reward_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loyalty_Point_Payment_Product</name>
        <label>Get Loyalty Point Payment Product</label>
        <locationX>253</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item</targetReference>
        </connector>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LRPP</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>LoyaltyPaymentProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Loyalty_Spent_for_this_Order</name>
        <label>Get Loyalty Spent for this Order</label>
        <locationX>850</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_not_already_created</targetReference>
        </connector>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loyalty_Reward_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>354</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Order_Item</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Activated</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>LoyaltyPaymentProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
