flows/Subflow_Loyalty_Payment_and_Billing-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Account_Loyalty_Points_Total</name>
        <label>Get Account Loyalty Points Total</label>
        <locationX>345</locationX>
        <locationY>912</locationY>
        <actionName>LoyaltyPointsFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reward_Points_Display</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Total_Loyalty_Points</assignToReference>
            <name>totalRewardPoints</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>if purchase order is selected. assign the official PO number value to that of the entered PO number value.</description>
        <name>Assign_PO</name>
        <label>Assign PO to value</label>
        <locationX>954</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>poNumberValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enteredPoNumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Address_if_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the selected payment method is Credit Card, clear the PO number and make it an empty string.</description>
        <name>Assign_PO_to_null</name>
        <label>Assign PO to null</label>
        <locationX>954</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>poNumberValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Address_if_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Delivery_Group_ID</name>
        <label>Get Delivery Group ID</label>
        <locationX>137</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>productDeliveryGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Order_Item.OrderDeliveryGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Order_Item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Loyalty_Payment</name>
        <label>Is Loyalty Payment</label>
        <locationX>45</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Get_Delivery_Group_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Order_Item.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoyaltyPaymentProduct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Loyalty_Payement</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loyalty_Reward_Point_Payment_Exist</name>
        <label>Is Loyalty Reward Point Payment Exist</label>
        <locationX>373</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Create_Loyalty_Reward_Point_Payment_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>isLRPPTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoyaltyPaymentProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Items</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only get the ContactPointAddress record associated with the new address selected and update</description>
        <name>Update_Address_if_changed</name>
        <label>Update address if changed</label>
        <locationX>1134</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>updateCartRecordWithOnlyPO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactPointAddressId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactPointAddressId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContactPointAddress</targetReference>
            </connector>
            <label>Update Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Point</name>
        <label>Use Point</label>
        <locationX>521</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Get_PaymentGatewayId_From_StoreIntegratedService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseLoyaltyYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowManyPoint</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>A decision node that sets the payment type variable to string &quot;Credit Card&quot; or string &quot;Purchase Order&quot;</description>
        <name>Which_payment_Type_is_selected</name>
        <label>Which payment type is selected</label>
        <locationX>704</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Assign_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CardPayment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO_to_null</targetReference>
            </connector>
            <label>Credit Card</label>
        </rules>
        <rules>
            <name>Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PurchaseOrderNumber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO</targetReference>
            </connector>
            <label>Purchase Order</label>
        </rules>
    </decisions>
    <formulas>
        <name>MaxUsablePoints</name>
        <dataType>Number</dataType>
        <expression>IF({!Total_Loyalty_Points}&gt;{!Get_Order.TotalAmount},FLOOR({!Get_Order.TotalAmount}),{!Total_Loyalty_Points})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PointSpent</name>
        <dataType>Number</dataType>
        <expression>-{!numberPointUse.value}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PointToValue</name>
        <dataType>Number</dataType>
        <expression>-{!numberPointUse.value}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PointValue</name>
        <dataType>Currency</dataType>
        <expression>-{!numberPointUse.value}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subflow - Loyalty, Payment and Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Subflow - Loyalty, Payment and Billing</label>
    <loops>
        <name>Loop_Over_Order_Item</name>
        <label>Loop Over Order Item</label>
        <locationX>239</locationX>
        <locationY>487</locationY>
        <collectionReference>Get_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Loyalty_Payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Store_ID_From_Cart</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordCreates>
        <name>Create_Loyalty_Order_Item</name>
        <label>Create Loyalty Order Item</label>
        <locationX>494</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>Get_PaymentGatewayId_From_StoreIntegratedService_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ListPrice</field>
            <value>
                <elementReference>PointValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDeliveryGroupId</field>
            <value>
                <elementReference>productDeliveryGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>LoyaltyPaymentProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>PointValue</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loyalty_Reward_Point_Payment_Product</name>
        <label>Create Loyalty Reward Point Payment Product</label>
        <locationX>149</locationX>
        <locationY>174</locationY>
        <assignRecordIdToReference>LoyaltyPaymentProduct</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Loyalty Reward Point Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loyalty Reward Point Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockKeepingUnit</field>
            <value>
                <stringValue>LRPP</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Loyalty_Payement</name>
        <label>Delete Loyalty Payement</label>
        <locationX>56</locationX>
        <locationY>674</locationY>
        <inputReference>Loop_Over_Order_Item</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>244</locationX>
        <locationY>912</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Loyalty_Points_Total</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This Gets the contact point address record and selects all the fields we are going to store to in subsequent steps.</description>
        <name>Get_ContactPointAddress</name>
        <label>Get ContactPointAddress</label>
        <locationX>1269</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCartRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>show_error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactPointAddressId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress</object>
        <outputReference>ContactPointAddressRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Latitude</queriedFields>
        <queriedFields>Longitude</queriedFields>
        <queriedFields>GeocodeAccuracy</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loyalty_Reward_Point_Payment_Product</name>
        <label>Get Loyalty Reward Point Payment Product</label>
        <locationX>472</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Loyalty_Reward_Point_Payment_Exist</targetReference>
        </connector>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LRPP</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>LoyaltyPaymentProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>529</locationX>
        <locationY>912</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UseLoyalty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>150</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Order_Item</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PaymentGatewayId_From_StoreIntegratedService</name>
        <label>Get PaymentGatewayId From StoreIntegratedService</label>
        <locationX>350</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>paymentMethodScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>paymentMethodScreen</targetReference>
        </faultConnector>
        <filters>
            <field>ServiceProviderType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>StoreId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>StoreIntegratedService</object>
        <outputAssignments>
            <assignToReference>paymentGatewayId</assignToReference>
            <field>Integration</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PaymentGatewayId_From_StoreIntegratedService_0</name>
        <label>Get PaymentGatewayId From StoreIntegratedService</label>
        <locationX>627</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>paymentMethodScreen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>paymentMethodScreen_0</targetReference>
        </faultConnector>
        <filters>
            <field>ServiceProviderType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>StoreId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>StoreIntegratedService</object>
        <outputAssignments>
            <assignToReference>paymentGatewayId</assignToReference>
            <field>Integration</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_ID_From_Cart</name>
        <label>Get Store ID From Cart</label>
        <locationX>158</locationX>
        <locationY>1045</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>show_error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <object>WebCart</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>storeId</assignToReference>
            <field>WebStoreId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Since the cart to order step has already happened we need to update both the Cart and Order records. In this update records node we are updating the cart record.</description>
        <name>updateCartRecord</name>
        <label>updateCartRecord</label>
        <locationX>1444</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>updateOrderRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>show_error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>ContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>ContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>ContactPointAddressRecord.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>ContactPointAddressRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>ContactPointAddressRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>ContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>ContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>ContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCartRecordWithOnlyPO</name>
        <label>updateCartRecordWithOnlyPO</label>
        <locationX>1384</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>updateOrderRecordWithOnlyPO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>show_error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <description>Since the cart to order step has already happened we need to update both the Cart and Order records. In this update records node we are updating the order record.</description>
        <name>updateOrderRecord</name>
        <label>updateOrderRecord</label>
        <locationX>1619</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>show_error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>ContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>ContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>ContactPointAddressRecord.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>ContactPointAddressRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>ContactPointAddressRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>ContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>ContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>ContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderRecordWithOnlyPO</name>
        <label>updateOrderRecordWithOnlyPO</label>
        <locationX>1584</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>show_error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>HowManyPoint</name>
        <label>Use your loyalty points</label>
        <locationX>629</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Loyalty_Order_Item</targetReference>
        </connector>
        <fields>
            <name>CheckoutSummaryLoyalty</name>
            <extensionName>forceCommunity:commerceCheckoutSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTax</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSubtotal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showShipping</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTotal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>numberPointUse</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How many points do you want to use?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <elementReference>MaxUsablePoints</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Choose between Purchase Order and Credit Card to pay for your order. Also enter or select a billing address.</description>
        <name>paymentMethodScreen</name>
        <label>paymentMethodScreen</label>
        <locationX>350</locationX>
        <locationY>545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Checkout_State</targetReference>
        </connector>
        <fields>
            <name>paymentMethod</name>
            <extensionName>forceCommunity:commercePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentGatewayId</name>
                <value>
                    <elementReference>paymentGatewayId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactPointAddressId</assignToReference>
                <name>contactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>enteredPoNumberValue</assignToReference>
                <name>purchaseOrderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentType</assignToReference>
                <name>paymentType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Choose between Purchase Order and Credit Card to pay for your order. Also enter or select a billing address.</description>
        <name>paymentMethodScreen_0</name>
        <label>paymentMethodScreen</label>
        <locationX>466</locationX>
        <locationY>448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Checkout_State</targetReference>
        </connector>
        <fields>
            <name>LoyaltyDisplay</name>
            <extensionName>lb2bt:LoyaltyUseFormattedTextBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Header</name>
                <value>
                    <stringValue>Reward Point</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SubHeader</name>
                <value>
                    <stringValue>Discount of {!PointToValue}.00 $ is now deduced, please finalise remaining payment.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>paymentMethod_0</name>
            <extensionName>forceCommunity:commercePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentGatewayId</name>
                <value>
                    <elementReference>paymentGatewayId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactPointAddressId</assignToReference>
                <name>contactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>enteredPoNumberValue</assignToReference>
                <name>purchaseOrderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentType</assignToReference>
                <name>paymentType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reward_Points_Display</name>
        <label>Reward Points Display</label>
        <locationX>440</locationX>
        <locationY>912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;Total Loyalty Points found: {!Total_Loyalty_Points}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UseLoyalty</name>
        <label>Use Loyalty</label>
        <locationX>632</locationX>
        <locationY>912</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Use_Point</targetReference>
        </connector>
        <fields>
            <name>UseLoyaltyYesNo</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceNo</defaultSelectedChoiceReference>
            <fieldText>Do you want to use your Loyalty Points?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>22</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Loyalty_Reward_Point_Payment_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Sets the next state</description>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>1784</locationX>
        <locationY>349</locationY>
        <flowName>sfdc_checkout__UpdateCheckoutState</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Shows the error</description>
        <name>show_error</name>
        <label>show error</label>
        <locationX>1444</locationX>
        <locationY>1049</locationY>
        <flowName>sfdc_checkout__Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Validate_Checkout_State</name>
        <label>Validate Checkout State</label>
        <locationX>350</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Which_payment_Type_is_selected</targetReference>
        </connector>
        <flowName>sfdc_checkout__CheckoutSession</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPointAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this value could be null</description>
        <name>enteredPoNumberValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoyaltyPaymentProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>poNumberValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productDeliveryGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total_Loyalty_Points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
