flows/Subflow_With_Loyalty_Checkout_Summary-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Total_Loyalty_Points</name>
        <label>Get Total Loyalty Points</label>
        <locationX>499</locationX>
        <locationY>526</locationY>
        <actionName>LoyaltyPointsFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UseLoyalty</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Total_Loyalty_Points</assignToReference>
            <name>totalRewardPoints</name>
        </outputParameters>
    </actionCalls>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Loyalty_Product</name>
        <label>Is Loyalty Product</label>
        <locationX>83</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Cart_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Cart_Items.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoyaltyPaymentProduct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Loyalty_Product</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loyalty_Reward_Point_Payment_Exist</name>
        <label>Is Loyalty Reward Point Payment Exist</label>
        <locationX>312</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Create_Loyalty_Reward_Point_Payment_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>isLRPPTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoyaltyPaymentProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cart</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Point</name>
        <label>Use Point</label>
        <locationX>535</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Cart_to_Order_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseLoyaltyYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowManyPoint</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>MaxUsablePoints</name>
        <dataType>Number</dataType>
        <expression>IF({!Total_Loyalty_Points}&gt;{!Get_Cart.TotalProductAmount},FLOOR({!Get_Cart.TotalProductAmount}),{!Total_Loyalty_Points})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PointToValue</name>
        <dataType>Number</dataType>
        <expression>-{!numberPointUse.value}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Subflow - With Loyalty Checkout Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Subflow - With Loyalty Checkout Summary</label>
    <loops>
        <name>Loop_Over_Cart_Items</name>
        <label>Loop Over Cart Items</label>
        <locationX>242</locationX>
        <locationY>693</locationY>
        <collectionReference>Get_Cart_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Loyalty_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordCreates>
        <name>Create_Loyalty_Payment_Cart_Item</name>
        <label>Create Loyalty Payment Cart Item</label>
        <locationX>821</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Cart_to_Order_Summary_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AdjustmentAmount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustmentTaxAmount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartDeliveryGroupId</field>
            <value>
                <elementReference>Get_CartDeliveryGroupId_from_CartItem.CartDeliveryGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CartId</field>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loyalty Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>LoyaltyPaymentProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesPrice</field>
            <value>
                <elementReference>PointToValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sku</field>
            <value>
                <stringValue>00</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <elementReference>PointToValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalListPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>PointToValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </inputAssignments>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loyalty_Reward_Point_Payment_Product</name>
        <label>Create Loyalty Reward Point Payment Product</label>
        <locationX>525</locationX>
        <locationY>183</locationY>
        <assignRecordIdToReference>LoyaltyPaymentProduct</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Cart</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Loyalty Reward Point Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Loyalty Reward Point Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockKeepingUnit</field>
            <value>
                <stringValue>LRPP</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Loyalty_Product</name>
        <label>Delete Loyalty Product</label>
        <locationX>91</locationX>
        <locationY>882</locationY>
        <inputReference>Loop_Over_Cart_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>370</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Total_Loyalty_Points</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart</name>
        <label>Get Cart</label>
        <locationX>429</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cart_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>159</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Cart_Items</targetReference>
        </connector>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CartDeliveryGroupId_from_CartItem</name>
        <label>Get CartDeliveryGroupId from CartItem</label>
        <locationX>821</locationX>
        <locationY>951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Loyalty_Payment_Cart_Item</targetReference>
        </connector>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CartDeliveryGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loyalty_Reward_Point_Payment_Product</name>
        <label>Get Loyalty Reward Point Payment Product</label>
        <locationX>150</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Loyalty_Reward_Point_Payment_Exist</targetReference>
        </connector>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LRPP</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>LoyaltyPaymentProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cart_to_Order_Summary</name>
        <label>Cart to Order Summary</label>
        <locationX>844</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <fields>
            <name>shipping1</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>orderSummary</name>
            <extensionName>forceCommunity:commerceCheckoutSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cart_to_Order_Summary_0</name>
        <label>Cart to Order Summary</label>
        <locationX>950</locationX>
        <locationY>716</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <fields>
            <name>shipping1_0</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LoyaltyDisplay1_0</name>
            <extensionName>lb2bt:LoyaltyUseFormattedTextBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Header</name>
                <value>
                    <stringValue>Reward Point</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SubHeader</name>
                <value>
                    <stringValue>Discount of {!PointToValue}.00 $ is deduced from sub-total below.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>orderSummary_0</name>
            <extensionName>forceCommunity:commerceCheckoutSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HowManyPoint</name>
        <label>Use your loyalty points</label>
        <locationX>647</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CartDeliveryGroupId_from_CartItem</targetReference>
        </connector>
        <fields>
            <name>numberPointUse</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How many points do you want to use?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <elementReference>MaxUsablePoints</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UseLoyalty</name>
        <label>Use Loyalty</label>
        <locationX>378</locationX>
        <locationY>692</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Use_Point</targetReference>
        </connector>
        <fields>
            <name>UseLoyaltyYesNo</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceNo</defaultSelectedChoiceReference>
            <fieldText>Do you want to use your Loyalty Points?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Get_Loyalty_Reward_Point_Payment_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow sets the next state field of the current checkout session object.</description>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>992</locationX>
        <locationY>564</locationY>
        <flowName>sfdc_checkout__UpdateCheckoutState</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoyaltyPaymentProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01tB0000000tnwEIAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Total_Loyalty_Points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
